*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "PingHei", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
  font-size: 12px;
  line-height: 1.5;
  color: #333333;
  background: #eeeeee;
}

input,
select,
button,
textarea {
  outline: none;
  border: none;
  background: none;
}

ul,
li {
  list-style-type: none;
}
i{
  font-style: normal;
}
a:link,
a:visited {
  text-decoration: none;
  color: #010101;
}
a:hover {
  text-decoration: none;
  color: #000;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #666;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color:#666;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color:#666;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color:#666;
}
.clear:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
}
header{
  height: 5rem;
  line-height: 5rem;
  font-size: 1.6rem;
  text-align: center;
  background: #fff;
}
.content{
  padding: 0 0.8rem;
  overflow: hidden;
}
.content_list{
  background: #fff;
  margin-bottom: 0.9rem;
  padding: 1.4rem 0;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  position: relative;
}
.content_list .tag{
  position: absolute;
  left: 0;
  top: 1.6rem;
  width: 3rem;
  height: 1.7rem;
  line-height: 1.7rem;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.test_title{
  padding-left: 1rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  font-weight: normal;
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.test_title2{
  margin-bottom: 1rem;
}
.test_top_bar {

}
.test_top_bar ul{
  padding: 0 2rem;
}
.test_top_bar li{
  float: left;
  width: 50%;
  line-height: 3.5rem;
}
#topRadar,#pie{
  height: 25rem;
  max-width: 360px;
  margin: 0 auto;
}
#topRadar>div{
  background: url("../images/test/topRadar.png") no-repeat center;
  background-size: 30%;

}
.test_title2{
  font-weight: normal;
  font-size: 1.5rem;
  padding-left: 3.8rem;
}
.charts{
  height: 28rem;
  max-width: 360px;
  margin: 0 auto;
  /*padding: 0 1rem;*/
}
#radar>div{
  background: url("../images/test/raderBg.png") no-repeat center;
  background-size: 112%;
}
.test_warpper{
  padding: 0 1.5rem;
}
.test_detail{
  font-size: 1rem;
  line-height: 2rem;
  border: 1px solid #d5d5d5;
  position: relative;
  padding: 1.3rem 1.9rem;
}
.test_warpper h3{
  font-size: 1rem;
  color: #d2d2d2;
  text-align: center;
  margin-top: 1rem;
}
.test_detail i{
  width: 0;
  height: 0;
  position: absolute;
}
.test_detail .test_left{
  left: -1px;
  top:-1px;
  border-right:1.7rem solid transparent;
}
.test_detail .test_right{
  right: -1px;
  bottom:-1px;
  border-left:1.7rem solid transparent;
}
.test_main{
  padding: 0 1.5rem;
  position: relative;
}
.bar4_three_img{
  display: table-cell;
  width: 20%;
  vertical-align: middle;
}

.bar4_three_img img{
  max-width: 100%;
  margin: 0 auto;
}
.bar4_detail{
  display: table-cell;
  position: relative;
  height: 100%;
  width: 80%;
  padding-left: 1.5rem;
  vertical-align: middle;
}
.bar4_detail p{
  text-indent: 2em;
  font-size: 1rem;
}
.bar4_three{
  margin-bottom: 2rem;
  display: table;
  vertical-align: middle;
  width: 100%;
}
.test_table{
  display: table;
  vertical-align: middle;
}
.bar5_img{
  display: table-cell;
  width: 30%;
  vertical-align: middle;
}
.bar5_img img{
  max-width: 100%;
}
.bar5_detail{
  display: table-cell;
  width: 70%;
  vertical-align: middle;
  font-size: 1rem;
  text-indent: 2em;
  padding-left: 1.5rem;
}
.content_list>h4{
  font-size: 1rem;
  color: #d2d2d2;
  text-align: center;
}