<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>嗨课堂-足不出户，遇见天下 </title>
    <link rel="icon" href="../images/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="./buy_css/common.css">
    <link rel="stylesheet" href="./buy_css/personal.css">
    <style>
        .Myhiketang a, #order .active a {
            color: #f40009;
        }
    </style>
</head>
<body style="min-width: 1180px ">
<div class="nav">
    <div id="overlay"></div>
    <div id="overlay-m"></div>
    <div class="content site-nav-r">
        <ul>
            <li><a href="../download2.html" style="background: none;padding: 0">客户端下载</a></li>
            <li class="line"></li>
            <li>你好，<i class="userName_name"></i></li>
            <li class="line"></li>
            <li class="login0"><a href="javascript:;" class="">登录</a></li>
            <li class="Register">
                <div class="Register2"><a href="javascript:;">注册</a></div>
                <!--<div class="Register_over0" style="display: none;">-->
                <!--<a href="javascript:;">退出</a>-->
                <!--</div>-->
            </li>
            <li><span class="font3"></span>400-876-3300</li>
        </ul>
    </div>

</div>
<div class="header">
    <div class="content">
        <div class="FL left">
            <a href="../index.html" class="logo"></a>
            <ul>
                <li><a href="../index.html">首页</a></li>
                <!--<li><a href="./Mycourse.html">我的课程</a></li>-->
                <li><a style="color: #f40009" href="javascript:;">我的嗨课堂</a></li>
                <li><a href="course.html">课程优惠</a></li>
                <!--<li><a href="summer.html">暑期优惠</a></li>-->
                <!--<li><a  href="summer.html">常规暑秋</a></li>-->
                <!--<li><a  href="summer1.html">精品暑秋</a></li>-->
                <!--<li><a  href="summerCamp.html">夏令营</a></li>-->
                <!--<li><a  href="sumTheme.html">暑期专题</a></li>-->
            </ul>
        </div>
    </div>
</div>
<div class="main">
    <div class="content">
        <div class="study clearfix study_color">
            <div class="study_name">
                <a href="javascript:;"><img src="buy_images/personal/touxiang.png" width=90 height=90 alt=""></a>
                <span>学员：<i class="userName_name"></i></span>
            </div>
            <div class="study_order">
                <!--<a href="javascript:;">我的订单</a>-->
                <a href="course.html">课程优惠</a>
            </div>
        </div>
        <!--<h3>活动通知</h3>-->
        <!--<div class="activity study_color">-->
            <!--<div id="personalCarousel" class="carousel slide">-->
                <!--<ol class="carousel-indicators">-->
                    <!--&lt;!&ndash;<li data-target="#personalCarousel" data-slide-to="0" class="active"></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li data-target="#personalCarousel" data-slide-to="1" class=""></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li data-target="#personalCarousel" data-slide-to="2" class=""></li>&ndash;&gt;-->
                <!--</ol>-->
                <!--<div class="carousel-inner carousel slide">-->
                    <!--&lt;!&ndash;3.8节日&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="item  three1 active" style="background: url('buy_images/3.8.jpg') no-repeat center;height: 250px;">&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="javascript:;" target="_blank" style="display: inline-block;height: 100%;width: 100%"></a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;3.8节日&ndash;&gt;-->
                    <!--&lt;!&ndash;暑期逆袭&ndash;&gt;-->
                    <!--<div class="item  three1 active" style="background: url('buy_images/summerBanner.jpg') no-repeat center;height: 250px;">-->
                        <!--<a href="../z/gold.html" target="_blank" style="display: inline-block;height: 100%;width: 100%"></a>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;7.24 金榜题名&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="item  three1 active" style="background: url('buy_images/goldBanner.jpg') no-repeat center;height: 250px;">&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="../z/gold.html" target="_blank" style="display: inline-block;height: 100%;width: 100%"></a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;明星老师Start&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="item  three1" style="background: url('buy_images/StarCourse.jpg') no-repeat center;height: 250px;">&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="../z/StarCourse.html" target="_blank" style="display: inline-block;height: 100%;width: 100%"></a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;明星老师End&ndash;&gt;-->
                    <!--&lt;!&ndash;暑假班start&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="item  three" style="background: url('buy_images/summer.jpg') no-repeat center;height: 250px;">&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="../z/summer.html" target="_blank" style="display: inline-block;height: 100%;width: 100%"></a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;暑假班end&ndash;&gt;-->
                    <!--&lt;!&ndash;百日Start&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="item  three1" style="background: url('buy_images/HundredDay.jpg') no-repeat center;height: 250px;">&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="../z/HundredDay.html" target="_blank" style="display: inline-block;height: 100%;width: 100%"></a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;百日End&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;一月活动Start&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="item  three1" style="background: url('buy_images/personal/banner.jpg') no-repeat center;height: 250px;">&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="../January.html" target="_blank" style="display: inline-block;height: 100%;width: 100%"></a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;一月活动End&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;涨价公告start&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="item  three" id="markup" style="background: url('buy_images/markup.jpg') no-repeat center;height: 250px;">&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="javascript:;" target="_blank" style="display: inline-block;height: 100%;width: 100%"></a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;涨价公告end&ndash;&gt;-->
                <!--</div>-->

                <!--&lt;!&ndash; 轮播（Carousel）导航 &ndash;&gt;-->
                <!--<a class="carousel-control left" href="#personalCarousel"-->
                   <!--data-slide="prev"></a>-->
                <!--<a class="carousel-control right" href="#personalCarousel"-->
                   <!--data-slide="next"></a>-->
            <!--</div>-->
        <!--</div>-->
        <h3>我的订单</h3>
        <div class="order study_color clearfix">
            <ul id="order" class=" nav-tabs">
                <li id="allOrder" data-status=false data-payStatu="3"><a href="#OrderL" data-toggle="tab"><img src="" alt="">所有订单</a></li>
                <li id="waitOrder" data-status=true data-payStatu="0"><a href="#OrderL" data-toggle="tab"><img
                        src="buy_images/personal/bag-copy-2.png" width=21 height=22 alt="">待支付</a></li>
                <li id="prepaidOrder" data-status=false data-payStatu="1"><a href="#OrderL" data-toggle="tab"><img
                        src="buy_images/personal/credit-card.png" width=21 height=15 alt="">已支付</a></li>
                <li id="closedOrder" data-status=false data-payStatu="4"><a href="#OrderL" data-toggle="tab"><img
                        src="buy_images/personal/close.png"
                        height=19 width=22 alt="">已关闭</a></li>
            </ul>
            <div id="orderList" class="tab-content clearfix">
                <div >
                    <table >
                        <thead>
                        <tr>
                            <th>订单号</th>
                            <th>课程包</th>
                            <th>金额</th>
                            <th>创建时间</th>
                            <th>支付时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="tab-pane fade in" id="OrderL">
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="6">没有更多数据了...</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer" style="  position: relative;bottom: 0;width: 100%;">
    <div class="footer1">
        <div class="content">
            <a class="footer_logo" href="javascript:;"></a>
            <div class="footer-us t_c">
                <a href="../about-us.html">关于我们</a><span></span><a href="javascript:;">联系我们</a><span></span><a
                    href="javascript:;">新闻资讯</a>
                <p>Copyright © 2017 上海济忆网络科技有限公司( 沪ICP备17009480号-5 )</p>
            </div>
        </div>
    </div>
</div>
</body>
<script id="Torder" type="text/html">
        {{each list as value i}}
        {{if value.parentOrderNo}}
        <tr style="height:20px;"></tr>
        <tr class="{{value.ClassList}} split-list">
            <td class="orderNo">{{value.orderNo}}</td>
            <td><span class="grade">{{value.courseName}}</span><span class="hour">{{value.buyLength}}课时</span></td>
            <td class="s_new"><span class="new">{{value.money}}</span></td>
            <td>{{value.checkTime}}</td>
            <td>{{value.payTime}}</td>
            <td>
                {{if value.split}}
                <span href="javascript:;" class="split split0" data-orderno={{value.orderNo}}  data-status="" data-payStatu="">{{value.split}}</span>
                {{else}}
                {{if !value.F}}
                {{value.payMethod}}
                {{else}}
                <a class="pay" data-orderInfoNo={{value.orderNo}} href="javascript:;">{{value.pay}}</a>
                <a class="unpay" data-orderInfoNo={{value.orderNo}} href="javascript:;" data-toggle="modal"
                   data-target="#myModal">{{value.undo}}</a>
                {{/if}}
                {{/if}}
            </td>
        </tr>
        {{else}}
        <tr style="height:20px;"></tr>

        <tr>
            <td class="orderNo">{{value.orderNo}}</td>
            <td><span class="grade">{{value.courseName}}</span><span class="hour">{{value.buyLength}}课时</span></td>
            <td class="s_new"><span class="new">{{value.money}}</span></td>
            <td>{{value.checkTime}}</td>
            <td>{{value.payTime}}</td>
            <td>
                {{if value.split}}
                <a href="javascript:;" class="split" data-orderno={{value.orderNo}}  data-status="" data-payStatu="">{{value.split}}</a>
                {{else}}
                {{if !value.F}}
                {{value.payMethod}}
                {{else}}
                <a class="pay" data-orderInfoNo={{value.orderNo}} href="javascript:;">{{value.pay}}</a>
                <a class="unpay" data-orderInfoNo={{value.orderNo}} href="javascript:;" data-toggle="modal"
                   data-target="#myModal">{{value.undo}}</a>
                {{/if}}
                {{/if}}
            </td>
        {{/if}}
        </tr>
        {{/each}}
</script>
<script src="../js/jquery.js"></script>
<script src="../js/lib/artTemplate-master/dist/template.js"></script>
<script src="../js/lib/jquery-cookie/jquery.cookie.js"></script>
<script src="../js/lib/js-sha512/src/sha512.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/gotoTop.js"></script>
<script src="../js/api-config.js"></script>
<script src="../js/login.js"></script>
<script src="./buy_js/common.js"></script>
<script src="./buy_js/personal.js"></script>
<script>
    //    轮播图Start
    $(function () {
        $("#personalCarousel").carousel({
            interval: 5000
        });
    })
    //    轮播图End
</script>
</html>