body {
  background-color: #FFF;
}
.bar1 img {
  display: block;
  width: 100%;
}
.select2 {
  padding-top: 0.48rem;
  position: relative;
  text-align: center;
}
.select2 > img {
  width: 7.53333333rem;
  height: 1.14666667rem;
  position: relative;
}
.select2 .myForm {
  box-sizing: border-box;
  padding-bottom: 0;
  width: 9.06666667rem;
  margin: 0 auto;
}
.select2 .myForm p {
  height: 1.06666667rem;
  margin: 0.33333333rem 0;
}
.select2 .myForm p input {
  height: 100%;
  width: 100%;
  border: 1px solid #ddd;
  padding-left: 1.36rem;
  font-size: 0.42666667rem;
  border-radius: 0.53333333rem;
  color: #303135;
}
.select2 .myForm p .name {
  background: url('../images/signUp02/i1.png') no-repeat 0.26666667rem center;
  background-size: 0.58666667rem 0.58666667rem;
}
.select2 .myForm p .mobile {
  background: url('../images/signUp02/i2.png') no-repeat 0.26666667rem center;
  background-size: 0.58666667rem 0.58666667rem;
}
.select2 .myForm p input::-webkit-input-placeholder {
  /* WebKit browsers*/
  color: #ddd;
  font-size: 0.42666667rem;
}
.select2 .myForm p input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18*/
  color: #ddd;
  font-size: 0.42666667rem;
}
.select2 .myForm p input::-moz-placeholder {
  /* Mozilla Firefox 19+*/
  color: #ddd;
  font-size: 0.42666667rem;
}
.select2 .myForm p input:-ms-input-placeholder {
  /* Internet Explorer 10+*/
  color: #ddd;
  font-size: 0.42666667rem;
}
.select2 .myForm p select {
  background: url('../images/signUp0202/pulldown.png') no-repeat center;
  background-position-y: 50%;
  background-position-x: 90%;
  background-size: 0.42666667rem 0.2rem;
  height: 100%;
  width: 48%;
  border-radius: 0.53333333rem;
  padding-left: 0.72rem;
  border: 1px solid #ddd;
  font-size: 0.42666667rem;
  color: #ddd;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.select2 .myForm p select option {
  background: transparent;
}
.select2 .myForm #code {
  display: none;
}
.select2 .myForm #code .code {
  width: 60%;
  float: left;
}
.select2 .myForm #code .send {
  width: 35%;
  float: right;
  padding: 0;
}
.select2 .submit {
  width: 9.65333333rem;
  height: 1.68rem;
  background: url("../images/signUp02/button.png") no-repeat center;
  background-size: 100% 100%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 0.42666667rem;
  padding-top: 0.46666667rem;
  margin-bottom: 0.53333333rem;
}
.bar3 {
  text-align: left;
  position: relative;
}
.bar3 .classInfo {
  position: absolute;
  color: #f5c962;
  font-size: 0.37333333rem;
  background-color: #fff;
  width: 1.84rem;
  height: 0.44rem;
  top: -0.25333333rem;
  left: 0.8rem;
  padding-left: 0.13333333rem;
}
.bar3 ul {
  width: 9.06666667rem;
  height: 4.53333333rem;
  margin: 0 auto;
  border: 1px solid #f5c962;
  padding: 0.50666667rem 0 0 0.34666667rem;
}
.bar3 ul li {
  color: #303135;
  font-size: 0.32rem;
  line-height: 0.64rem;
}
.bar3 ul li span {
  padding-right: 0.21333333rem;
  color: #f5c962;
}
.bar3 ul li i {
  font-style: normal;
  padding-left: 0.61333333rem;
}
.bar4.starFotter {
  font-size: 0.26666667rem;
  padding: 0.32rem 0;
  color: #f5c962;
  font-weight: bold;
}
.bar5 {
  background-color: #202020;
  text-align: center;
  color: #989898;
  font-size: .24rem;
  line-height: .98666667rem;
}
footer {
  background-color: #f40009;
  width: 100%;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
}
footer a {
  display: inline-block;
  width: 49%;
  height: 100%;
}
footer a img {
  width: 0.37333333rem;
  height: 0.37333333rem;
  vertical-align: middle;
}
footer a span {
  line-height: 100%;
  color: #FFF;
  vertical-align: middle;
  font-size: 0.4rem;
  font-weight: bold;
}
footer a:last-child {
  position: relative;
}
footer a:last-child span {
  font-style: italic;
}
footer a:last-child span i {
  position: absolute;
  display: inline-block;
  height: 0.4rem;
  width: 2px;
  left: -1px;
  top: 50%;
  background-color: #FFF;
}
/*返回顶部start*/
a.backToTop {
  width: 0.66666667rem;
  height: 0.66666667rem;
  background: url('../images/weixin/top.png') no-repeat center;
  background-size: cover;
  text-indent: -999em;
  right: 0.26666667rem;
  bottom: 1.33333333rem;
}
