body {
  background-color: #FFF;
}
.select {
  background-color: #FFF;
  overflow: hidden;
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes opacity {
  /* Firefox */
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opacity {
  /* Safari 和 Chrome */
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes opacity {
  /* Opera */
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h1 {
  font-size: 0.53333333rem;
  height: 2.4rem;
  width: 100%;
  position: relative;
  margin: 0.93333333rem auto;
  margin-bottom: 1.2rem;
  background-size: cover;
}
button {
  position: relative;
}
button a {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
}
body {
  padding-top: 1.6rem;
}
nav {
  height: 1.6rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: url("../images/weixin/nav.jpg") no-repeat center;
  background-size: cover;
  z-index: 9;
}
nav .nav-left {
  width: 20%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
nav .nav-left img {
  position: absolute;
  width: 0.50666667rem;
  height: 0.50666667rem;
  left: 50%;
  top: 50%;
}
nav .nav-right {
  width: 20%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
nav .nav-right img {
  position: absolute;
  width: 0.44rem;
  height: 0.45333333rem;
  left: 50%;
  top: 50%;
}
.select1 {
  height: 4.48rem;
}
.select1 .swiper-container {
  height: 100%;
}
.select1 .swiper-container .swiper-slide div {
  height: 100%;
}
.select1 .swiper-container .swiper-pagination-bullet-active {
  background-color: #E7312D;
}
.select2 {
  background-color: #F8F8F8;
  padding-top: 0.66666667rem;
  position: relative;
  text-align: center;
}
.select2 > img {
  width: 8.94666667rem;
  height: 2.06666667rem;
  position: relative;
}
.select2 .myForm {
  box-sizing: border-box;
  padding-bottom: 0;
  width: 7.62666667rem;
  margin: 0 auto;
}
.select2 .myForm p {
  height: 1.06666667rem;
  margin: 0.29333333rem 0;
}
.select2 .myForm p input {
  height: 100%;
  width: 100%;
  border: 1px solid #f0d8d8;
  padding-left: 0.22666667rem;
  font-size: 0.37333333rem;
  background-color: #FFF;
}
.select2 .myForm p input,
.select2 .myForm p div {
  border-radius: 5px;
}
.select2 .myForm p .select,.select2 .myForm p select{
  background: url('../images/weixin/downicon.png') no-repeat center;
  background-position-y: 50%;
  background-position-x: 95%;
  background-size: 0.26666667rem 0.26666667rem;
  height: 100%;
  width: 100%;
  padding-left: 0.22666667rem;
  border: 1px solid #f0d8d8;
  font-size: 0.37333333rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;

}
.select2 .myForm p select option {
  background: transparent;
}
.select2 .myForm p button {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("../images/weixin/btn1.png") no-repeat center;
  background-size: 100%;
}
.select2 .myForm .F-button {
  height: 1.8rem;
}
.select2 .myForm #code {
  display: none;
}
.select2 .myForm #code .code {
  width: 60%;
  float: left;
}
.select2 .myForm #code .send {
  width: 35%;
  float: right;
  padding: 0;
}
.select2 .order p {
  font-size: 0.34666667rem;
  line-height: 0.4rem;
  margin-bottom: 0.8rem;
}
.select2 .order .order-table {
  background: url("../images/weixin/order.jpg") no-repeat center;
  background-size: 100%;
  height: 7.66666667rem;
  width: 100%;
  padding-top: 0.73333333rem;
}
.select2 .order .order-table .order-center {
  height: 100%;
  overflow: hidden;
}
.select3 p {
  font-size: 0.53333333rem;
  line-height: 0.73333333rem;
}
.select3 .select3-img {
  width: 100%;
  padding: 0 0.53333333rem;
  margin-bottom: 0.53333333rem;
}
.select3 .select3-img img {
  margin-top: 0.4rem;
  height: auto;
  width: 100%;
  display: inherit;
}
.select4 {
  background-color: #FFF;
}
.select4 .center {
  background-color: #FFF;
}
.select4 .center .center-img {
  padding: 0 0.53333333rem;
}
.select4 .center button {
  margin-top: 0.53333333rem;
  display: inline-block;
  height: 1.8rem;
  width: 100%;
  background: url("../images/weixin/btn.png") no-repeat center;
  background-size: 100%;
}
.select5 ul li {
  height: 4rem;
  width: 90%;
  margin: 0.4rem auto;
  position: relative;
  padding: 0.26666667rem 0.26666667rem 0.26666667rem 4.22666667rem;
  background-color: #F1F4F6;
}
.select5 ul li img {
  width: 4.22666667rem;
  height: 4.90666667rem;
  position: absolute;
  left: -0.33333333rem;
  top: -0.48rem;
}
.select5 ul li .center {
  text-align: left;
}
.select5 ul li .center h2 {
  font-size: 0.34666667rem;
  margin-bottom: 0.26666667rem;
  line-height: 0.53333333rem;
}
.select5 ul li .center h2 span {
  vertical-align: bottom;
  display: inline-block;
  padding: 0 0.06666667rem;
  background-color: #FF4118;
  color: #FFF;
  font-size: 0.26666667rem;
  margin-left: 0.26666667rem;
  border-radius: 0.06666667rem;
}
.select5 ul li .center p {
  font-size: 0.24rem;
  color: #3c3939;
  line-height: 0.46666667rem;
}
.select5 ul li .center button {
  margin-top: 0.26666667rem;
  height: 0.8rem;
  width: 100%;
  border-radius: 0.10666667rem;
  border: 2px solid #FF4118;
  font-size: 0.34666667rem;
  color: #FF4118;
}
.select6 .center {
  height: 5.18666667rem;
  position: relative;
  padding-top: 1.13333333rem;
  margin-bottom: 0.4rem;
}
.select6 .center span {
  position: absolute;
  background-color: #FF4018;
}
.select6 .center .span1 {
  left: 3.6rem;
  top: 0.33333333rem;
  width: 0.21333333rem;
  height: 0.21333333rem;
  border-radius: 0.10666667rem;
}
.select6 .center .span2 {
  left: 0.66666667rem;
  top: 3.86666667rem;
  width: 0.53333333rem;
  height: 0.53333333rem;
  border-radius: 0.26666667rem;
}
.select6 .center .span3 {
  right: 0.81081081rem;
  top: 2.13333333rem;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.4rem;
}
.select6 .center img {
  position: absolute;
  left: 50%;
  top: 0;
  width: auto;
  height: 100%;
}
.select6 .center p {
  font-size: 0.4rem;
  line-height: 0.73333333rem;
}
.select6 > .weixin {
  width: 7.17333333rem;
  height: 4.25333333rem;
}
.select6 .bottom .p1 {
  font-size: 0.26666667rem;
  line-height: 0.53333333rem;
}
.select6 .bottom .p2 {
  font-size: 0.32rem;
  line-height: 0.53333333rem;
}
.select6 .bottom .p3 {
  font-size: 0.24rem;
  line-height: 0.53333333rem;
}
.select6 .bottom .center1 {
  position: relative;
  height: 12rem;
  background: url("../images/weixin/P4-foot.jpg") no-repeat center bottom;
  background-size: 100%;
}
.select6 .bottom .center1 .p6-0 {
  position: absolute;
  width: 6.32rem;
  height: 5.90666667rem;
  left: 50%;
  top: 2.26666667rem;
}
.select6 .bottom .center1 .p6 {
  position: absolute;
  width: 4rem;
  height: 2.26666667rem;
}
.select6 .bottom .center1 .p6-1 {
  left: 53%;
  top: 0%;
  opacity: 0;
  animation: opacity 10s 0s infinite alternate;
  -moz-animation: opacity 10s 0s infinite alternate;
  /* Firefox */
  -webkit-animation: opacity 10s 0s infinite alternate;
  /* Safari 和 Chrome */
  -o-animation: opacity 10s 0s infinite alternate;
  /* Opera */
}
.select6 .bottom .center1 .p6-2 {
  left: 60%;
  top: 13%;
  opacity: 0;
  animation: opacity 10s 2s infinite alternate;
  -moz-animation: opacity 10s 2s infinite alternate;
  /* Firefox */
  -webkit-animation: opacity 10s 2s infinite alternate;
  /* Safari 和 Chrome */
  -o-animation: opacity 10s 2s infinite alternate;
  /* Opera */
}
.select6 .bottom .center1 .p6-3 {
  left: 49%;
  top: 70%;
  opacity: 0;
  animation: opacity 10s 4s infinite alternate;
  -moz-animation: opacity 10s 4s infinite alternate;
  /* Firefox */
  -webkit-animation: opacity 10s 4s infinite alternate;
  /* Safari 和 Chrome */
  -o-animation: opacity 10s 4s infinite alternate;
  /* Opera */
}
.select6 .bottom .center1 .p6-4 {
  left: 15%;
  top: 70%;
  opacity: 0;
  animation: opacity 10s 6s infinite alternate;
  -moz-animation: opacity 10s 6s infinite alternate;
  /* Firefox */
  -webkit-animation: opacity 10s 6s infinite alternate;
  /* Safari 和 Chrome */
  -o-animation: opacity 10s 6s infinite alternate;
  /* Opera */
}
.select6 .bottom .center1 .p6-5 {
  left: 3%;
  top: 13%;
  opacity: 0;
  animation: opacity 10s 8s infinite alternate;
  -moz-animation: opacity 10s 8s infinite alternate;
  /* Firefox */
  -webkit-animation: opacity 10s 8s infinite alternate;
  /* Safari 和 Chrome */
  -o-animation: opacity 10s 8s infinite alternate;
  /* Opera */
}
.select6 button {
  display: inline-block;
  height: 3.06666667rem;
  width: 100%;
  background: url("../images/weixin/btn.png") no-repeat center;
  background-size: 100%;
}
.select8 {
  padding-bottom: 0.8rem;
}
.select8 h2 {
  height: 0.76rem;
}
.select8 h2 img {
  right: 100%;
}
.select8 h2 p {
  font-size: 0.53333333rem;
  line-height: 0.93333333rem;
  display: inline-block;
  position: relative;
  font-weight: 500;
}
.select8 h2 p::before {
  content: "";
  width: 0.4rem;
  height: 0.02666667rem;
  position: absolute;
  left: -0.53333333rem;
  top: 50%;
  background-color: #000;
}
.select8 h2 p::after {
  content: "";
  width: 0.4rem;
  height: 0.02666667rem;
  position: absolute;
  right: -0.53333333rem;
  top: 50%;
  background-color: #000;
}
footer {
  background-color: #f40009;
  width: 100%;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
}
footer a {
  display: inline-block;
  width: 49%;
  height: 100%;
}
footer a img {
  width: 0.37333333rem;
  height: 0.37333333rem;
  vertical-align: middle;
}
footer a span {
  line-height: 100%;
  color: #FFF;
  vertical-align: middle;
  font-size: 0.4rem;
  font-weight: bold;
}
footer a:last-child {
  position: relative;
}
footer a:last-child span {
  font-style: italic;
}
footer a:last-child span i {
  position: absolute;
  display: inline-block;
  height: 0.4rem;
  width: 2px;
  left: -1px;
  top: 50%;
  background-color: #FFF;
}
/*返回顶部start*/
a.backToTop {
  width: 0.66666667rem;
  height: 0.66666667rem;
  background: url('../images/weixin/top.png') no-repeat center;
  background-size: cover;
  text-indent: -999em;
  right: 0.26666667rem;
  bottom: 1.33333333rem;
}
/*返回顶部end*/


/* 07-14 luo */
.open{
  width:100%;
  height:100%;
  overflow: hidden;
}
.open .fixedL{
  display: block;
}
.fixedL{
  position: fixed;
  bottom: 0;
  left: 0;
  top:0;
  right: 0;
  width: 100%;
  display: none;
  z-index: 10;
  height:100%;
  background: rgba(0,0,0,0.2);
}
.fixedL-bg{
  position: fixed;
  bottom: 0;
  left: 0;
  top:0;
  right: 0;
  width: 100%;
  height:100%;
  background: rgba(0,0,0,0.2);
  z-index: 11;
}
.fixedL-main{
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
  z-index: 999;
}
.fixedL-btn{
  height: 34px;
  background: #fff;
}
.fixedL-btn a{
  line-height: 34px;
  color: #2e7fff;
  font-size: 14px;
}
.fixedL-btn .cancelL{
  float: left;
  margin-left: 15px;
}
.fixedL-btn .confirmL{
  float: right;
  margin-right: 15px;
  display: none;
}
.boxL{
  display: flex;
  background: #e3e8ec;
}
.box-main{
    width: 100%;
    -webkit-box-flex: 1;
    position: relative;
    overflow: hidden;
    height: 240px;
}
.box-main li{
    line-height: 40px;
    font-size: 14px;
    text-align: left;
    padding:0 10px;
}
.box-main li.active{
    background: rgba(0,0,0,0.1);
}
#box3,#box2{
  display: none;
  border-left: 1px solid #c8c7c5;
}
