body {
  background: #e5fcfe;
}
.main .content {
  width: 1200px;
}
.main .banner1 {
  background: url("../images/autumn/banner.jpg") no-repeat center center;
  background-size: cover;
  height: 600px;
}
.main h1 {
  line-height: 120px;
}
.main .banner2 .content {
  margin-top: -48px;
  background: url(../images/autumn/coupon_bg.png) no-repeat center;
  background-size: cover;
  height: 626px;
}
.main .banner2 .content .coupon {
  width: 1060px;
  margin: 0 auto;
  padding-top: 178px;
  display: none;
}
.main .banner2 .content .coupon li {
  width: 300px;
  height: 155.65px;
  background: url(../images/autumn/coupon.png) no-repeat center;
  background-size: 100%;
  float: left;
  padding-left: 100px;
  margin: 0px 60px 10px 10px;
}
.main .banner2 .content .coupon li .coupon_font {
  color: #fff;
  overflow: hidden;
  position: relative;
}
.main .banner2 .content .coupon li .coupon_font .coupon_l {
  font-size: 16px;
  margin-top: 50px;
  float: left;
  line-height: 100%;
}
.main .banner2 .content .coupon li .coupon_font .coupon_m {
  font-weight: 600;
  font-size: 32px;
  float: left;
  line-height: 100%;
  margin-top: 35px;
  margin-right: 2px;
}
.main .banner2 .content .coupon li .coupon_font .coupon_r {
  float: left;
}
.main .banner2 .content .coupon li .coupon_font .coupon_r .coupon_r_t {
  font-size: 24px;
  margin-top: 33px;
  line-height: 100%;
  display: block;
}
.main .banner2 .content .coupon li .coupon_font .coupon_r .coupon_r_b {
  font-size: 12px;
  margin-top: 2px;
  line-height: 100%;
  display: block;
}
.main .banner2 .content .coupon li .coupon_btn {
  width: 150px;
  height: 30px;
  background: #fff;
  color: #b6713e;
  text-align: center;
  display: block;
  margin: 15px auto;
}
.main .banner2 .content .coupon.active {
  display: block;
}
.main .banner2 .content .coupon_grade .grade_tab {
  width: 144px;
  height: 78px;
  float: left;
  padding-top: 12px;
  margin: 0 28px;
  cursor: pointer;
}
.main .banner2 .content .coupon_grade .grade_tab p {
  border-color: #ee1100;
  border-width: 4px;
  border-style: solid;
  line-height: 58px;
  text-align: center;
  font-size: 18px;
  color: #ec4033;
}
.main .banner2 .content .coupon_grade .grade_tab.active {
  background: url("../images/autumn/tab_bg.png") no-repeat center;
  background-size: cover;
}
.main .banner2 .content .coupon_grade .grade_tab.active p {
  border-color: #ec4033;
  color: #fff;
}
.main .banner3 {
  padding-top: 9px;
}
.main .banner3 .content {
  background: #ec4033;
  overflow: hidden;
  padding-top: 57px;
}
.main .banner3 .content .coupon_end {
  color: #fff8db;
  text-align: center;
  font-size: 26px;
}
.main .banner3 .content .coupon_end span {
  display: inline-block;
  padding: 5px;
  background: #4f4747;
  font-size: 46px;
  color: #fff8db;
  line-height: 100%;
  border-radius: 10px;
}
.main .banner3 .content .btn1 {
  width: 325px;
  height: 74px;
  font-size: 26px;
  color: #000000;
  display: block;
  margin: 40px auto;
  background: #fee302;
  border-radius: 10px;
}
.main .banner3 .content .coupon_rule {
  padding-left: 402px;
  overflow: hidden;
  margin-bottom: 42px;
  background: url("../images/autumn/coupon_rule.png") no-repeat center;
}
.main .banner3 .content .coupon_rule p {
  font-size: 12px;
  color: #ffebc9;
  margin-top: 15px;
}
.main .banner5 h1 {
  line-height: 80px;
}
.main .banner5 p {
  font-size: 18px;
}
.main .banner5 .content {
  width: 1200px;
}
.main .banner5 .content .btn1 {
  width: 325px;
  height: 74px;
  color: #fff;
  background: #ec4033;
  border-radius: 10px;
  display: block;
  margin: 30px auto 80px;
  font-size: 26px;
}
.main .banner5 .content ul {
  display: inline-block;
  margin: 50px 0;
}
.main .banner5 .content ul li {
  width: 240px;
  height: 480px;
  display: inline-block;
  float: left;
  position: relative;
  overflow: hidden;
}
.main .banner5 .content ul li .bottom {
  width: 210px;
  height: 140px;
  padding: 10px 5px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  left: 50%;
  margin-left: -105px;
  bottom: 10px;
}
.main .banner5 .content ul li .bottom hr {
  width: 30px;
  height: 5px;
  background-color: #f40009;
  margin: 5px 0;
  display: inline-block;
}
.main .banner5 .content ul li .J_Sliders {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f40009;
  left: -999px;
  top: -999px;
  color: #FFF;
  font-size: 20px;
  padding: 0 15px;
  padding-top: 95px;
  text-align: center;
}
.main .banner5 .content ul li .J_Sliders button {
  width: 165px;
  height: 34px;
  border: 2px solid #FFF;
  margin-bottom: 20px;
  background-color: transparent;
}
.main .banner5 .content ul li .J_Sliders p {
  line-height: 40px;
}
.main .banner5 .content ul li .J_Sliders span {
  font-size: 150px;
  line-height: 200px;
}
.main .banner6 {
  overflow: hidden;
}
.main .banner6 .b6_title {
  font-size: 26px;
  margin-bottom: 15px;
  color: #000;
  text-align: center;
}
.main .banner6 .b6_main {
  float: left;
  width: 585px;
  position: relative;
  margin-right: 30px;
  height: 565px;
  margin-top: 94px;
  background: #fff;
  border-radius: 10px;
  padding-top: 300px;
}
.main .banner6 .b6_main .b6_img {
  width: 459px;
  height: 304px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: absolute;
  top: -45px;
  left: 63px;
  box-shadow: 0px 12px 30px rgba(255, 64, 25, 0.3);
}
.main .banner6 .b6_main .b6_img1 {
  background-image: url("../images/autumn/b6_1.jpg");
}
.main .banner6 .b6_main .b6_img2 {
  background-image: url("../images/autumn/b6_2.jpg");
}
.main .banner6 .b6_main .b6_img3 {
  background-image: url("../images/autumn/b6_3.jpg");
}
.main .banner6 .b6_main .b6_img4 {
  background-image: url("../images/autumn/b6_4.jpg");
}
.main .banner6 .b6_main .b6_main_title {
  color: #f40009;
  margin-bottom: 30px;
  text-align: center;
  font-size: 44px;
}
.main .banner6 .b6_main p {
  color: #010101;
  font-size: 24px;
  line-height: 32px;
  padding: 0 54px;
  text-indent: 2em;
}
.main .banner6 .b6_main.mr0 {
  margin-right: 0;
}
.main .banner6 .btn1 {
  width: 325px;
  height: 74px;
  color: #fff;
  background: #ec4033;
  border-radius: 10px;
  display: block;
  margin: 80px auto;
  font-size: 26px;
}
.main .banner7 .content {
  position: relative;
  padding: 60px 30px;
}
.main .banner7 .content .b7_three {
  height: 325px;
}
.main .banner7 .content .b7_three .b7_three_bar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 2px solid #f40009;
  text-align: center;
  margin-right: 19px;
  padding-top: 40px;
  float: left;
}
.main .banner7 .content .b7_three .b7_three_bar .orange {
  color: #f40009;
  font-size: 36px;
  line-height: 100%;
}
.main .banner7 .content .b7_three .b7_three_bar span {
  font-size: 22px;
}
.main .banner7 .content .b7_pie {
  background: url("../images/autumn/pie.png") no-repeat center;
  background-size: cover;
  width: 558px;
  height: 377.3px;
  position: absolute;
  right: 30px;
  top: 40px;
}
.main .banner7 .content .b7_title {
  padding-left: 30px;
  border-left: 10px solid #f40009;
  margin-bottom: 65px;
  font-size: 30px;
}
.main .banner7 .content .b7_bottom .b7_bottom_main {
  float: left;
  margin-right: 120px;
}
.main .banner7 .content .b7_bottom .b7_bottom_main .b7_school {
  float: left;
  width: 57px;
  border-bottom: 1px solid #f40009;
  font-size: 26px;
  line-height: 34px;
}
.main .banner7 .content .b7_bottom .b7_bottom_main .b7_num {
  float: left;
  border-bottom: 1px solid #a0b0b1;
  font-size: 66px;
  color: #f40009;
  line-height: 68px;
}
.main .banner7 .content .b7_bottom .b7_bottom_main .b7_num span {
  font-size: 26px;
  line-height: 100%;
}
.main .banner8 {
  padding-bottom: 70px;
}
.main .banner8 h1 {
  margin-bottom: 30px;
}
.main .banner8 img {
  width: 1140px;
  display: block;
  margin: 0 auto;
}
.main .banner4 .btn1 {
  width: 325px;
  height: 74px;
  color: #fff;
  background: #ec4033;
  border-radius: 10px;
  display: block;
  margin: 80px auto;
  font-size: 26px;
}
.main .banner4 .content h1 {
  padding: 60px 0;
  text-align: center;
  font-size: 46px;
  line-height: 60px;
  margin-top: 40px;
}
.main .banner4 .content .myWinter #winterContent ul,
.main .banner4 .content .myWinter #winterTab {
  border-radius: 5px;
  border: 0;
  text-align: center;
}
.main .banner4 .content .myWinter #winterContent ul li,
.main .banner4 .content .myWinter #winterTab li {
  float: left;
  height: 48px;
  line-height: 48px;
  border: 2px solid #f40009;
  font-size: 18px;
  font-weight: bold;
  margin: 0 20px;
}
.main .banner4 .content .myWinter #winterContent ul li a,
.main .banner4 .content .myWinter #winterTab li a {
  border: 0;
}
.main .banner4 .content .myWinter #winterContent ul li.active a,
.main .banner4 .content .myWinter #winterTab li.active a,
.main .banner4 .content .myWinter #winterContent ul li.active a:hover,
.main .banner4 .content .myWinter #winterTab li.active a:hover,
.main .banner4 .content .myWinter #winterContent ul li.active a:focus,
.main .banner4 .content .myWinter #winterTab li.active a:focus {
  border: 1px solid #f40009;
  border-radius: 0;
}
.main .banner4 .content .myWinter #winterContent ul li a,
.main .banner4 .content .myWinter #winterTab li a {
  display: inline-block;
  color: #000;
  line-height: 48px;
  width: 100%;
  height: 100%;
}
.main .banner4 .content .myWinter .winterTit #winterTab {
  display: inline-block;
  position: relative;
  left: 50%;
}
.main .banner4 .content .myWinter .winterTit #winterTab li {
  width: 150px;
}
.main .banner4 .content .myWinter #winterContent ul li {
  width: 150px;
  margin: 0 20px;
}
.main .banner4 .content .myWinter #winterContent ul {
  margin: 50px 0;
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.main .banner4 .content .myWinter #winterAll h1 {
  padding: 0;
}
.main .banner4 .content .myWinter #winterAll ul {
  position: relative;
  height: 460px;
}
.main .banner4 .content .myWinter #winterAll ul li {
  bottom: 0;
  position: absolute;
  float: left;
  width: 220px;
  height: 480px;
  border: 10px solid #CCC;
  vertical-align: bottom;
  overflow: hidden;
}
.main .banner4 .content .myWinter #winterAll ul li h1,
.main .banner4 .content .myWinter #winterAll ul li h2 {
  position: relative;
  z-index: 1;
}
.main .banner4 .content .myWinter #winterAll ul li p {
  font-size: 14px;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-left: 30px;
  margin-top: 20px;
  background: url("../../images/system/bg3-li.jpg") no-repeat center -80px;
  height: 0;
}
.main .banner4 .content .myWinter #winterAll ul li p span {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 0 30px;
  line-height: 26px;
  color: #FFF;
}
.main .banner4 .content .myWinter #winterAll ul li:first-child i {
  border: 0;
}
.main .banner4 .content .myWinter #winterAll ul li:nth-child(1) {
  color: #737373;
  left: 0;
}
.main .banner4 .content .myWinter #winterAll ul li:nth-child(1) p {
  height: 190px;
}
.main .banner4 .content .myWinter #winterAll ul li:nth-child(2) {
  color: #737373;
  left: 228px;
}
.main .banner4 .content .myWinter #winterAll ul li:nth-child(2) p {
  height: 240px;
}
.main .banner4 .content .myWinter #winterAll ul li:nth-child(3) {
  color: #737373;
  left: 456px;
}
.main .banner4 .content .myWinter #winterAll ul li:nth-child(3) p {
  height: 280px;
}
.main .banner4 .content .myWinter #winterAll ul li:nth-child(4) {
  color: #737373;
  left: 684px;
}
.main .banner4 .content .myWinter #winterAll ul li:nth-child(4) p {
  height: 340px;
}
.main .banner4 .content .myWinter #winterAll ul li:nth-child(5) {
  color: #737373;
  left: 912px;
}
.main .banner4 .content .myWinter #winterAll ul li:nth-child(5) p {
  height: 400px;
}
.one {
  animation: one 2s ease forwards;
  -moz-animation: one 2s ease forwards;
  /* Firefox */
  -webkit-animation: one 2s ease forwards;
  /* Safari 和 Chrome */
  -o-animation: one 2s ease forwards;
  /* Opera */
}
.two {
  animation: two 2s ease forwards;
  -moz-animation: two 2s ease forwards;
  /* Firefox */
  -webkit-animation: two 2s ease forwards;
  /* Safari 和 Chrome */
  -o-animation: two 2s ease forwards;
  /* Opera */
}
.three {
  animation: three 2s ease forwards;
  -moz-animation: three 2s ease forwards;
  /* Firefox */
  -webkit-animation: three 2s ease forwards;
  /* Safari 和 Chrome */
  -o-animation: three 2s ease forwards;
  /* Opera */
}
.four {
  animation: four 2s ease forwards;
  -moz-animation: four 2s ease forwards;
  /* Firefox */
  -webkit-animation: four 2s ease forwards;
  /* Safari 和 Chrome */
  -o-animation: four 2s ease forwards;
  /* Opera */
}
.five {
  animation: five 2s ease forwards;
  -moz-animation: five 2s ease forwards;
  /* Firefox */
  -webkit-animation: five 2s ease forwards;
  /* Safari 和 Chrome */
  -o-animation: five 2s ease forwards;
  /* Opera */
}
.opacity {
  animation: opacity 2s ease 2s forwards;
  -moz-animation: opacity 2s ease 2s forwards;
  /* Firefox */
  -webkit-animation: opacity 2s ease 2s forwards;
  /* Safari 和 Chrome */
  -o-animation: opacity 2s ease 2s forwards;
  /* Opera */
}
@keyframes one {
  from {
    height: 0;
  }
  to {
    height: 190px;
  }
}
@keyframes two {
  from {
    height: 0;
  }
  to {
    height: 240px;
  }
}
@keyframes three {
  from {
    height: 0;
  }
  to {
    height: 280px;
  }
}
@keyframes four {
  from {
    height: 0;
  }
  to {
    height: 340px;
  }
}
@keyframes five {
  from {
    height: 0;
  }
  to {
    height: 400px;
  }
}
