.main {
  color: #111111;
}
.main .contain {
  width: 1200px!important;
  margin: 0 auto;
}
.main .barTitle {
  text-align: center;
  color: #111;
}
.main .barTitle p:first-child {
  font-size: 50px;
  padding-top: 70px;
}
.main .barTitle p:first-child span {
  color: #ff1b2d;
}
.main .barTitle p:nth-child(2) {
  font-size: 30px;
}
.main .bar1 img {
  width: 100%;
  display: block;
}
.main .bar2 .bar2Body p {
  color: #111;
  font-size: 18px;
  margin-top: 40px;
}
.main .bar2 .bar2Body img {
  width: 100%;
  display: block;
  margin: 90px 0 45px 0;
}
.main .bar3 {
  background-color: #fafafa;
  padding-bottom: 78px;
}
.main .bar3 .bar3Body p {
  color: #111;
  font-size: 18px;
  margin-top: 70px;
  width: 891px;
  margin: 70px auto;
}
.main .bar3 .bar3Body img {
  display: block;
  margin: 0 auto;
}
.main .bar4 {
  background: url(../images/hiOne/b4.jpg) no-repeat center;
  margin-top: 45px;
  height: 500px;
}
.main .bar4 .bar4Title p {
  color: #fff;
  padding-top: 100px;
}
.main .bar4 .bar4Body img {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  cursor: pointer;
}
.main .bar5 .bar5Title p:first-child {
  padding-top: 100px;
}
.main .bar5 .bar5Body {
  background: #fff5ef url(../images/hiOne/b5.png) no-repeat -100px -95px;
  height: 500px;
  margin-top: 115px;
  padding: 150px 100px 0 690px;
}
.main .bar5 .bar5Body div {
  width: 410px;
}
.main .bar5 .bar5Body div p:first-child {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}
.main .bar5 .bar5Body div p {
  font-size: 18px;
  line-height: 30px;
}
.main div.hiOneText {
  width: 422px;
}
.main div.hiOneText p:first-child {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}
.main div.hiOneText p {
  font-size: 18px;
  line-height: 30px;
}
.main .bar6 .bar6Body {
  background: #fafafa url(../images/hiOne/b6.png) no-repeat -100px -95px;
  height: 500px;
  margin-top: 45px;
  padding: 135px 100px 0 688px;
}
.main .bar7 .bar7Body {
  background: #fff5ef url(../images/hiOne/b7.png) no-repeat 612px -54px;
  height: 500px;
  margin-top: 45px;
  padding: 120px 0 0 100px;
}
.main .bar7 .bar7Body div {
  width: 422px;
  margin: 0;
}
.main .bar7 .bar7Body div p:first-child {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}
.main .bar7 .bar7Body div p {
  font-size: 18px;
  line-height: 30px;
}
.main .bar8 .bar8Body {
  background: #fafafa url(../images/hiOne/b8.png) no-repeat 120px 83px;
  height: 500px;
  margin-top: 45px;
  padding: 105px 100px 0 680px;
}
.main .bar8 .bar8Body span {
  color: #ff4150;
}
.main .bar9 p {
  margin: 60px 0 130px 0;
}
.main .bar9 img {
  display: block;
  width: 100%;
  margin-bottom: 140px;
}
.video-window {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  display: none;
}
.video-info {
  position: absolute;
  width: 888px;
  z-index: 99;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.video-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
}
