.warpper * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.warpper .content {
  text-align: left;
  margin: 0 auto;
}
.warpper .banner {
  height: 600px;
  background: url("../../images/midterm.jpg") no-repeat center;
  background-size: cover;
}
.warpper .bar1 .content {
  padding-top: 70px;
  padding-bottom: 25px;
}
.warpper .bar1 .content .title {
  background: url("../images/midterm/title1.png") no-repeat center;
  height: 39px;
  margin-bottom: 55px;
}
.warpper .bar1 .content ul {
  background: url("../images/midterm/girl.jpg") no-repeat bottom right;
  padding-bottom: 20px;
}
.warpper .bar1 .content li {
  width: 576px;
  height: 170px;
  margin-bottom: 20px;
  border-radius: 7px;
  padding: 50px 50px 0 120px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.warpper .bar1 .content li:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
}
.warpper .bar1 .content li h3 {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 10px;
}
.warpper .bar1 .content li p {
  font-size: 18px;
  line-height: 24px;
}
.warpper .bar1 .content li:nth-of-type(1) {
  background: #e6e6e6 url("../images/midterm/q1.jpg") no-repeat 33px 0;
}
.warpper .bar1 .content li:nth-of-type(2) {
  background: #e6e6e6 url("../images/midterm/q2.jpg") no-repeat 33px 0;
}
.warpper .bar1 .content li:nth-of-type(3) {
  background: #e6e6e6 url("../images/midterm/q3.jpg") no-repeat 33px 0;
}
.warpper .bar2 {
  background: url("../images/midterm/bar2-bg.jpg") no-repeat center;
  background-size: cover;
}
.warpper .bar2 .content {
  padding-top: 70px;
  padding-bottom: 45px;
}
.warpper .bar2 .content .title {
  background: url("../images/midterm/title2.png") no-repeat center;
  height: 39px;
  margin-bottom: 42px;
}
.warpper .bar2 .content li {
  width: 250px;
  height: 347px;
  margin: 0 22.5px;
  float: left;
  padding: 270px 20px 0;
  font-size: 16px;
  line-height: 20px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.warpper .bar2 .content li:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
}
.warpper .bar2 .content li:nth-of-type(1) {
  background: url("../images/midterm/c1.jpg") no-repeat;
}
.warpper .bar2 .content li:nth-of-type(2) {
  background: url("../images/midterm/c2.jpg") no-repeat;
}
.warpper .bar2 .content li:nth-of-type(3) {
  background: url("../images/midterm/c3.jpg") no-repeat;
}
.warpper .bar2 .content li:nth-of-type(4) {
  background: url("../images/midterm/c4.jpg") no-repeat;
}
.warpper .bar3 .content {
  padding-top: 90px;
  padding-bottom: 90px;
}
.warpper .bar3 .content .title {
  background: url("../images/midterm/title3.png") no-repeat center;
  height: 39px;
  margin-bottom: 42px;
}
.warpper .bar3 .content li {
  width: 288px;
  height: 500px;
  margin: 0 52.666px;
  float: left;
  text-align: center;
  padding: 294px 0 0;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.warpper .bar3 .content li:hover {
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
}
.warpper .bar3 .content li h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 5px;
}
.warpper .bar3 .content li h3 {
  font-size: 24px;
  color: #f40009;
  margin-bottom: 15px;
}
.warpper .bar3 .content li p {
  font-size: 18px;
}
.warpper .bar3 .content li:nth-of-type(1) {
  background: #e6e6e6 url("../images/midterm/d1.jpg") no-repeat;
}
.warpper .bar3 .content li:nth-of-type(2) {
  background: #e6e6e6 url("../images/midterm/d2.jpg") no-repeat;
}
.warpper .bar3 .content li:nth-of-type(3) {
  background: #e6e6e6 url("../images/midterm/d3.jpg") no-repeat;
}
.warpper .bar4 {
  background: #f2f2f2;
}
.warpper .bar4 .content {
  padding-top: 75px;
  padding-bottom: 53px;
}
.warpper .bar4 .content .title {
  background: url("../images/midterm/title4.png") no-repeat center;
  height: 39px;
  margin-bottom: 42px;
}
.warpper .bar4 .content .btn1 {
  font-size: 24px;
  background: #f40009;
  border-radius: 30px;
  width: 300px;
  height: 60px;
  display: block;
  margin: 30px auto 0;
  color: #fff;
}
.warpper .bar4 .content .swiper-pagination-bullet-active {
  background: #333;
}
.warpper .bar4 .content .swiper-slide {
  height: 340px;
  position: relative;
}
.warpper .bar4 .content .swiper-slide .slide-left {
  position: absolute;
  right: 850px;
  top: 180px;
  text-align: right;
}
.warpper .bar4 .content .swiper-slide .slide-left h3 {
  display: inline-block;
  padding-left: 64px;
  font-size: 30px;
  border-bottom: 2px solid #cc4844;
}
.warpper .bar4 .content .swiper-slide .slide-left p {
  font-size: 20px;
}
.warpper .bar4 .content .swiper-slide .slide-right {
  position: absolute;
  left: 780px;
  top: 10px;
  color: #646464;
  font-size: 20px;
  line-height: 28px;
}
.warpper .bar5 .content {
  padding-top: 62px;
  padding-bottom: 80px;
}
.warpper .bar5 .content .title {
  background: url("../images/midterm/title5.png") no-repeat center;
  height: 39px;
  margin-bottom: 42px;
}
.warpper .bar5 .content img {
  display: block;
  margin: 0 auto;
}
