button {
  font: inherit;
  color: inherit;
}
.banner {
  height: 600px;
  background: url("../../images/result.jpg") no-repeat center;
  background-size: cover;
}
.content {
  width: 1200px;
}
.title-bar {
  text-align: center;
  padding-top: 113px;
}
.title-bar p {
  color: #696b6c;
  font-size: 24px;
  margin-top: 24px;
}
.warpper .title {
  font-size: 40px;
  color: #000;
  line-height: 53px;
  text-align: center;
  display: inline-block;
  padding-left: 70px;
  background-image: url('../images/result/title.jpg');
  background-repeat: no-repeat;
  font-weight: normal;
}
.bar1 .content {
  padding-top: 155px;
  background: url("../images/result/bar1-bg.jpg") no-repeat center;
  height: 525px;
}
.bar1 .content .bar1-detail {
  width: 600px;
  font-size: 20px;
  float: right;
  padding-top: 70px;
  line-height: 32px;
}
.bar1 .content .bar1-detail span {
  font-size: 26px;
}
.bar2 {
  background: url("../images/result/bar2-bg.jpg") no-repeat center;
  height: 888px;
}
.bar3 .bar3-main {
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 130px;
  width: 880px;
  margin: 0 auto;
}
.bar3 .swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.bar3 .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 416px;
  border: 2px solid #af2e23;
}
.bar4 {
  background: #eaedf0;
}
.bar4 .bar4-main {
  height: 691px;
  margin-top: 40px;
  background: url("../images/result/ceo.jpg") no-repeat right bottom;
}
.bar4 .bar4-main ul {
  padding-left: 190px;
  padding-top: 130px;
}
.bar4 .bar4-main ul li {
  background-repeat: no-repeat;
  padding-left: 100px;
  margin-bottom: 56px;
}
.bar4 .bar4-main ul li div {
  border-left: 5px solid #af2e23;
  padding-left: 12px;
}
.bar4 .bar4-main ul li div h3 {
  font-size: 30px;
}
.bar4 .bar4-main ul li div p {
  font-size: 20px;
}
.bar5 .bar5-main {
  height: 600px;
  width: 950px;
  padding-top: 70px;
  padding-bottom: 50px;
}
.bar5 .swiper-slide {
  background-size: cover;
  background-position: center;
}
.bar5 .gallery-top {
  height: 600px;
  width: 700px;
  float: right;
}
.bar5 .gallery-thumbs {
  width: 230px;
  height: 600px;
  box-sizing: border-box;
  padding: 10px 0;
  float: left;
}
.bar5 .swiper-pagination-bullet {
  width: 230px;
  height: 150px;
  border-radius: 0;
  display: block;
}
.bar5 .swiper-pagination-bullet:nth-of-type(1) {
  background: url("../images/result/b1.jpg") no-repeat center;
  background-size: cover;
}
.bar5 .swiper-pagination-bullet:nth-of-type(2) {
  background: url("../images/result/b2.jpg") no-repeat center;
  background-size: cover;
}
.bar5 .swiper-pagination-bullet:nth-of-type(3) {
  background: url("../images/result/b3.jpg") no-repeat center;
  background-size: cover;
}
.bar5 .swiper-pagination-bullet:nth-of-type(4) {
  background: url("../images/result/b4.jpg") no-repeat center;
  background-size: cover;
}
.bar5 .swiper-pagination {
  width: 230px;
}
.bar6 {
  background: #eaedf0;
}
.bar6 .bar6-main {
  width: 1065px;
  margin: 100px auto 0;
  background: url("../images/result/logos.png") no-repeat left top;
  padding-bottom: 150px;
}
.bar6 .bar6-main .bar6-detail {
  float: right;
  width: 505px;
}
.bar6 .bar6-main .bar6-detail h3 {
  font-size: 32px;
  line-height: 2;
  margin-bottom: 60px;
  text-align: center;
}
.bar6 .bar6-main .bar6-detail h3 span {
  display: inline-block;
  border-bottom: 3px solid #af2e23;
}
.bar6 .bar6-main .bar6-detail p {
  font-size: 20px;
  text-indent: 2em;
  line-height: 32px;
}
