.main .banner2 ul {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  display: inline-block;
  margin-top: 100px;
}
.main .banner2 ul > li:first-child {
  width: 616px;
  font-size: 0;
  float: left;
}
.main .banner2 ul > li:first-child img {
  margin-bottom: 16px;
}
.main .banner2 ul > li:first-child > img:nth-child(2n-1) {
  margin-right: 16px;
}
.main .banner2 ul > li:last-child {
  width: 286px;
  float: right;
  margin-left: 90px;
}
.main .banner2 ul > li:last-child p:first-child {
  margin-top: 120px;
}
.main .banner2 ul > li:last-child p:nth-child(2) {
  margin-bottom: 45px;
}
.main .banner2 ul > li:last-child p:nth-child(3) {
  font-size: 14px;
  line-height: 30px;
}
.main .banner3 {
  margin-top: 45px;
}
.main .banner3 > p:first-child {
  background: url(../images/recruit/b3.jpg) no-repeat center;
  background-size: cover;
  height: 500px;
  text-align: center;
  color: #fff;
  font-size: 60px;
  padding-top: 170px;
}
.main .banner3 > div:nth-child(2) {
  background-color: #f5f5f5;
  position: relative;
}
.main .banner3 > div:nth-child(2) > div {
  background-color: #fff;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  top: -116px;
  padding: 76px 92px 0px;
  display: inline-block;
  z-index: 1;
}
.main .banner3 > div:nth-child(2) > div div:first-child p:nth-child(3) {
  line-height: 28px;
  font-size: 14px;
}
.main .banner3 > div:nth-child(2) > div div:first-child img {
  margin-right: -80px;
  display: block;
}
.main .banner3 .chooseJob {
  margin-bottom: 30px;
  text-align: center;
}
.main .banner3 .chooseJob span {
  height: 36px;
  width: 88px;
  display: inline-block;
  margin-right: 19px;
  text-align: center;
  line-height: 34px;
  cursor: pointer;
  font-size: 14px;
}
.main .banner3 .chooseJob span.active {
  position: relative;
  border: 2px solid transparent;
  border-radius: 18px;
  background-clip: padding-box;
  background-color: #fff;
}
.main .banner3 .chooseJob span.active a {
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffc371), to(#ff5f6d));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main .banner3 .chooseJob span.active:after {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  content: '';
  z-index: -1;
  border-radius: 18px;
  background: linear-gradient(#ffc371, #ff5f6d);
}
.main .banner3 .job {
  width: 940px;
}
.main .banner3 .job > li {
  color: #777;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 25px;
  padding: 22px 0 6px 0;
}
.main .banner3 .job > li p:first-child {
  min-height: 25px;
  font-size: 14px;
}
.main .banner3 .job > li img {
  margin-right: 36px;
  display: block;
  margin-top: -16px;
  cursor: pointer;
}
.main .banner3 .job > li.active > p {
  color: #fc4229;
}
.main .banner3 .demand {
  margin: 30px 0;
  display: none;
  font-size: 14px;
}
.main .banner3 .demand li p {
  line-height: 30px;
}
.main .banner3 .demand li:first-child {
  float: left;
  width: 40%;
}
.main .banner3 .demand li:last-child {
  float: right;
  width: 40%;
  margin-right: 36px;
}
.main .banner4 {
  margin-bottom: 160px;
}
.main .contain {
  width: 1200px;
}
.main .blank {
  height: 338px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
}
.main .title1 {
  color: #333;
  font-size: 20px;
}
.main .title2 {
  font-size: 24px;
  font-weight: bold;
  color: #ccc;
  margin-bottom: 30px;
  margin-top: -8px;
}
.main .wid100 {
  width: 100%;
}
.main .noJob {
  font-size: 20px;
  text-align: center;
  line-height: 106px;
  color: #777;
  display: none;
}
