.main {
  background-color: #f7f7f7;
  padding-top: 100px;
  padding-bottom: 150px;
  height: 853px;
  box-sizing: border-box;
}
.main .succeed {
  text-align: center;
  font-size: 30px;
  margin-bottom: 38px;
  color: #333;
  font-weight: bold;
}
.main .succeed img {
  margin-right: 20px;
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  transform: translateY(-4px);
}
.main p {
  font-size: 18px;
  margin-bottom: 80px;
}
