body {
  margin: 0 auto;
  height: 100%;
}
body .seccess {
  padding: .2rem 10%;
  background: url("../img/teacher-sign/seccess.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  color: #FFF;
  display: none;
}
body .seccess h1 {
  font-size: .6rem;
  line-height: 4rem;
}
body .seccess p,
body .seccess #p {
  font-weight: bold;
}
body .seccess p span,
body .seccess #p span {
  color: #A10404;
}
body .seccess .top {
  font-size: .4rem;
  padding-bottom: .8rem;
  line-height: .8rem;
}
body .seccess .bottom {
  padding-top: 1.25rem;
  font-size: .2rem;
  line-height: .6rem;
}
body .seccess > img {
  width: 3rem;
  height: 3rem;
}
body .seccess #qqLink {
  display: block;
  width: 2.2rem;
  height: .6rem;
  line-height: .6rem;
  border-radius: 5px;
  background-color: #F73406;
  color: #FFF;
  font-size: .2rem;
  margin: 0 auto;
  margin-bottom: .6rem;
}
body .first {
  background-size: 100% 100%;
  position: relative;
}
body .first .header {
  height: .8rem;
  background-color: #3F3F3F;
  font-size: .48rem;
  line-height: .8rem;
  color: #fff;
  padding-left: .44rem;
}
body .first #bottom {
  margin-bottom: 1rem;
}
body .first #bottom #btn {
  background-color: #108EE9;
  color: #fff;
}
body .first #bottom #btn.disabled {
  background-color: #ccc;
  cursor: default;
  color: #FFF;
}
body .first #bottom #res {
  background-color: #F3F3F3;
}
body .first #bottom .btn {
  width: 2rem;
  height: .8rem;
  border-radius: .1rem;
  background-color: #FFF;
  font-size: .3rem;
  color: #FFA62F;
  z-index: 999;
  margin: 0 .4rem;
}
body .first .border {
  padding: .12rem;
  margin: 0 auto;
  background-color: #F4F4F4;
}
body .first .border .content {
  background-color: #fff;
  padding: 0 .32rem;
  text-align: left;
  margin: 0 auto;
  border: .02rem solid #EBEBEB;
  overflow: hidden;
}
body .first section {
  position: relative;
  z-index: 999;
  padding-bottom: .6rem;
}
body .first section.select div {
  line-height: 1rem;
  position: relative;
}
body .first section.select div:before {
  content: '';
  background-color: #ccc;
  width: 1000%;
  height: 1px;
  position: absolute;
  left: -20rem;
  bottom: 0;
}
body .first section h1 {
  font-size: .48rem;
  color: #F6A41D;
  display: inline-block;
}
body .first section p {
  height: 0.8rem;
  margin: .46rem 0;
}
body .first section p label {
  text-align: center;
  font-size: .3rem;
  width: 30%;
  display: inline-block;
  height: 0.8rem;
  vertical-align: middle;
  line-height: 0.8rem;
}
body .first section p input,
body .first section p select {
  font-size: .2rem;
  height: 0.8rem;
  border: 1px solid #CCC;
  border-radius: 0.1rem;
  width: 68%;
  padding-left: .2rem;
}
body .first section p.college-city select {
  width: 22%;
}
body .first section p .sex {
  width: .5rem;
}
body .first section p .es-list li {
  font-size: .4rem;
  border-bottom: 1px dashed #CCC;
  margin: 0 .1rem;
}
body .first section p .es-list li:hover {
  cursor: pointer;
}
body .first .select1 {
  z-index: 9999;
}
